
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Module.css">
</head>

<body>
	<div class="logo"><img src="@{/images/q5.png}"/> Question Bank Repository </div>
<nav>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
           <li><a href="#" >Module</a></li>
        </ul>
    </nav>
    <div id="div">
    <div>
    </div>
</div>


<section class="header3 cid-s1pj7EandR mbr-parallax-background" id="header3-2" style="z-index: 0; background-image: none; position: relative;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-12 align-center">
               <h1 class="mbr-section-title figure mbr-fonts-style display-2">ALL MODULE !&nbsp;</h1>
                <div class="mbr-section-btn"><a style="font-size: 1.400rem;" class="btn btn-lg btn-warning display-4" href="#">DEVELOPER</a></div>
               </div>
            </div>
        </div>
    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://images.unsplash.com/photo-1489875347897-49f64b51c1f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80&quot;); position: fixed; top: 0px; left: 0px; width: 1496px; height: 510.68px; overflow: hidden; pointer-events: none; margin-top: -113.34px; transform: translate3d(0px, 181.74px, 0px);"></div></div>
</section>

   
   
   <section class="slider3 carousel slide testimonials-slider extSlider cid-s1pjb34m3J" data-interval="false" id="slider3-3">
        <div class="two__background"></div>
        <div class="container-fluid">
            <div class="carousel slide" role="listbox" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000" id="slider3-3-carousel">
                <div class="carousel-inner">
                    
                    <div class="carousel-item active">
                        <div class="media-container-row">
                            <div class="col-12 col-lg-4 offset-lg-1 slider__content">
                                
                                <h3 class="mbr-section-title mbr-fonts-style display-2">CORE JAVA</h3>
                                <p  style="font-size: 2.400rem;" class="mbr-text mbr-fonts-style display-4">Java is a programming language and a platform. 
                                    Java is a high level, robust, object-oriented and secure programming language.
                                    The primary objective of Java programming language creation was to make it portable, simple and secure programming language.
                                    Apart from this, there are also some excellent features which play an important role in 
                                    the popularity of this language-simple,object orianted,portable,platform independent,secured.
                                </p>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="slider__image">
                                    <div class="img-wrap">
                                        <img src="https://media.istockphoto.com/photos/java-programming-concept-virtual-machine-on-server-room-background-picture-id1131109259" style="width:693px; height: 463px;" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="media-container-row">
                            <div class="col-12 col-lg-4 offset-lg-1 slider__content">
                                
                                <h3 class="mbr-section-title mbr-fonts-style display-2">J2EE</h3>
                                <p  style="font-size: 2.400rem;" class="mbr-text mbr-fonts-style display-4">Using the Java 2 Platform,Enterprise Edition (J2EE) builds on top of this to provide the types of services that 
                                    are necessary to build large scale, distributed, component based, multi-tier applications. 
                                    J2EE is a collection of APIs that can be used to build such systems, although this is only half of the picture. 
                                    J2EE is also a standard for building and deploying enterprise applications, 
                                    held together by the specifications of the APIs that it defines and the services that J2EE provides. 
                                </p>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="slider__image">
                                    <div class="img-wrap">
                                        <img src="https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" style="width:693px; height: 463px;" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="carousel-item">
                        <div class="media-container-row">
                            <div class="col-12 col-lg-4 offset-lg-1 slider__content">
                                
                                <h3 class="mbr-section-title mbr-fonts-style display-2">SPRING BOOT</h3>
                                <p style="font-size: 2.400rem;" class="mbr-text mbr-fonts-style display-4">Spring Boot provides a good platform for Java developers to develop a stand-alone and 
                                    production-grade spring application that you can just run. 
                                    You can get started with minimum configurations without the need for an entire Spring configuration setup.
                                    Advantages:
                                    Easy to understand and develop spring applications.
                                    Increases productivity.
                                </p>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="slider__image">
                                    <div class="img-wrap">
                                        <img src="https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" style="width:693px; height: 463px;" alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></div>
                
                    
                <div class="carousel-controls">
                    <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider3-3-carousel">
                        <span aria-hidden="true" class="mbr-iconfont mobi-mbri-left mobi-mbri"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider3-3-carousel">
                        <span aria-hidden="true" class="mbr-iconfont mobi-mbri-right mobi-mbri"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer>
    <div class="footer-content">
      <h3>Question Bank Repository</h3>
     
      <ul class="socials">
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>
        copyright &copy;2021 Question Bank Repository. 
      </p>
    </div>
  </footer>