
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Student</title>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<style>
input{
  margin-bottom: 1em;
}
</style>  
  
</head> 
<body>

    <div class="container">
    <h2 class="text-primary">Edit Question</h2>
      <form th:action="@{/question/saveQuestion}" th:object="${question}" method="post" class="col-lg-4">
      <input type="hidden" th:field="*{id}"/>
      <input type="text" placeholder="Id" th:field="*{id}" class="form-control mb-4"/ required="required">
      <input type="text" placeholder="Module" th:field="*{module}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="Question" th:field="*{que}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="Option 1" th:field="*{option_1}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="Option 2" th:field="*{option_2}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="Option 3" th:field="*{option_3}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="option 4" th:field="*{option_4}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="Difficulty" th:field="*{level}" class="form-control mb-4 " required="required"/>
      <input type="text" placeholder="Answer" th:field="*{answer}" class="form-control mb-4 " required="required"/>
      
      <button type="submit" class="btn btn-info col-2">Save</button>
      <button type="reset" class="btn btn-info col-2">Reset</button>
      <a th:href="@{/question/repository}" class="btn btn-primary">Back</a>
      </form>
      
    </div> 

	
	
</body>
</html>